a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

#map{
    cursor: pointer;
    overflow: hidden;
    height: 60vh;

    @media screen and (max-width:520px){
        height: 45vh;
    }
}