.menu-bg{
    width: 350px;
    height: 100%;

    transform: translateX(-100%);
    transition: transform 0.4s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    &-content{
        width: 350px;
        height: 100%;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.20);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.20);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.20);

        &-elements{
            width: 280px;
            color: $black-alt;
            font-size: 14px;
            font-family: "Oxygen-Bold";

            li{
                margin: 40px 0px;
                cursor: pointer;
                text-transform: uppercase;

                &:hover{
                    color: $title-color;
                }

                & a{
                    text-decoration: none;
                }
            }
        }
    }

    &.active{
        transform: translateX(0);
        transition: transform 0.4s ease;
    }

}

.menu-hamburger{
    width: 25px;
    height: 17px;
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 2;

    &-bar{
        width: 25px;
        height: 3px;
        background: $title-color;
        transform-origin: left;
        transition: transform 0.4s ease-out;
    }

    &.active{

        .menu-hamburger-bar{

            &:first-of-type{
                -webkit-transform: translateY(-2px) rotate(45deg);
                -ms-transform: translateY(-2px) rotate(45deg);
                -o-transform: translateY(-2px) rotate(45deg);
                transform: translateY(-2px) rotate(45deg);
                transition: transform 0.4s ease-out;
            }

            &:nth-child(2){
                opacity: 0;
            }
            
            &:nth-of-type(3){
                -webkit-transform: translateY(2px) rotate(-45deg);
                -ms-transform: translateY(2px) rotate(-45deg);
                -o-transform: translateY(2px) rotate(-45deg);
                transform: translateY(2px) rotate(-45deg);
                transition: transform 0.4s ease-out;
            }
        }
    }
}

.menu-backto{
    z-index: 2;
    grid-column-start: content;
    grid-column-end: column4;
    grid-row-start: title;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    font-family: Oxygen-Bold;
    color: $black-alt;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    background: $white-alt;
    position: fixed;
    top: 18px;
    left: 80px;

    span:first-of-type{
        img{
            width: 30px;
            height: auto;
        }
    }
}