<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {
                lat: 20,
                lng: 0
            },
            minZoom:3,
            maxZoom:3,
            disableDefaultUI: true,
            styles:[
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
            ]
        });

        google.maps.event.addListener(map, 'click', function(event){ 

            codeLatLng(event.latLng);

        });

        geocoder = new google.maps.Geocoder();
    }

    function codeLatLng(latlng){

        geocoder.geocode({'latLng': latlng}, function(results, status) {

            if (status == google.maps.GeocoderStatus.OK){

                if (results[0]) {

                    var cname=""; 

                    try {

                        for (var j=0;j<results[0].address_components.length;j++){

                            var xty=results[0].address_components[j].types; 

                            if (xty.indexOf('country')!=-1) {

                                console.log(results[0]);
                                cname=results[0].address_components[j].long_name;
                            
                            }

                        }

                        console.log(cname); 

                    }

                    catch(err){

                        console.log(err);

                    }

                }

            } 

            else {

                console.log("Geocoder failed due to: " + status);

            }

        });

    }

</script>
<div id="map" style="width:100vw;height:100vh;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSyzB0TqKo419qD8gCwOYSsLzV2pIZC4c&callback=initMap" async defer></script>