<div class="menu-bg">
    <div class="menu-bg-content">
        <nav>
            <ul class="menu-bg-content-elements">
                <li>
                    Revenir à la carte
                </li>
                <li>
                    Revenir au pays
                </li>
                <li>
                    Bangalore
                </li>
                <li>
                    Mumbai
                </li>
                <li>
                    New Delhi
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="menu-hamburger">
    <div class="menu-hamburger-bar"></div>
    <div class="menu-hamburger-bar"></div>
    <div class="menu-hamburger-bar"></div>
</div>

<div class="menu-backto">
    <span class="menu-backto-icon"><img src="../img/previous.png" alt=""></span>
    <span class="menu-backto-content">Inde</span>
</div>