<div class="menu-bg">
    <div class="menu-bg-content">
        <nav>
            <ul class="menu-bg-content-elements">
                <li class="menu-bg-content-elements-backToMap">
                    <a href="index.html">
                    Revenir à la carte
                    </a>
                </li>
                <li class="menu-bg-content-elements-backToCountry">
                    <a href="inde.html">
                    Revenir au pays
                    </a>
                </li>
                <li class="menu-bg-content-elements-place">
                    <a href="bangalore.html">
                        Bangalore
                    </a>
                </li>
                <li class="menu-bg-content-elements-place">
                    <a href="mumbai.html">
                    Mumbai
                    </a>
                </li>
                <li class="menu-bg-content-elements-place">
                    <a href="new_delhi.html">
                    New Delhi
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="menu-hamburger">
    <div class="menu-hamburger-bar"></div>
    <div class="menu-hamburger-bar"></div>
    <div class="menu-hamburger-bar"></div>
</div>

<a class="menu-backto-link" href="">
    <div class="menu-backto">
        <span class="menu-backto-icon"><img src="img/previous.png" alt=""></span>
        <span class="menu-backto-content"></span>  
    </div>
</a>