<div id="sidebar" class="sidebar">
        
    <div class="sidebar-intro-logo">
        LOGO
    </div>

    <div class="sidebar-intro-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, in? Quaerat neque tenetur sapiente iure tempora assumenda aperiam qui distinctio. Eaque, fugit. Obcaecati dicta dignissimos cum laudantium, corporis iusto mollitia.
    </div>

    <div class="sidebar-map-location">
        Vous vous trouvez actuellement en
    </div>

    <div class="sidebar-map-country-choice">
        <select name="country-select" id="country-select">
            <option value="France">France</option>
            <option value="France">France</option>
            <option value="France">France</option>
        </select>
    </div>

    <div class="sidebar-map-button">
        Y aller 
    </div>

    <div class="sidebar-travel-history-title">
        Derniers pays visités
    </div>

    <div class="sidebar-travel-history-elements">

        <div class="sidebar-travel-history-element">
            France
        </div>

        <div class="sidebar-travel-history-element">
            États-Unis
        </div>

        <div class="sidebar-travel-history-element">
            Inde
        </div>
        
    </div>
</div>