@import 'components/_reset.scss';
@import 'components/_variables.scss';

@import 'pages/_single-place.scss';

@import 'partials/_sidebar.scss';
@import 'partials/_map.scss';


body {
  background-color: $main-color;
  color: black;
  font-family: Oxygen-Regular;
  font-size: 16px;
}
