.single-place{
    background: $white-alt;
    display: grid;
    grid-template-columns: [container1] 50px [left] 40% [left2] 10% [right] auto [container2] 50px;
    grid-template-rows: [start] 100% [space] 100px [part2] 50vh [video] 100vh  [space] 50px [fact] 100vh [space] 50px [cooking] 100vh [space] 50px [clothes] 100vh [space] 50px [climate] 100vh [space] 50px [wildlife] 100vh;

    &-title{
        grid-column-start: left;
        grid-column-end: left2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100vh;
        padding-right: 30px;
        transform: translateX(50px);
        opacity: 0;
        animation: enter-anim-second 0.8s ease-out 0.6s;
        animation-fill-mode: forwards;

        @keyframes enter-anim-second{
            0%{
                opacity: 0;
                transform: translateX(50px);
            }

            100%{
                opacity: 1;
                transform: translateX(0);
            }
        }

        &-text{
            h1{
                font-size: 90px;
                font-family: 'Signika', sans-serif;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        &-img{
            font-size: 63px;
            margin-top: 15px;
            color: $title-color;
        }

        &-button{
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 250px;
            height: 70px;
            border-radius: 68px;
            font-family: Oxygen-Bold;
            color: $white-alt;
            font-size: 14px;
            text-transform: uppercase;
            -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
            background: $title-color;
            cursor: pointer;
        }
    }

    &-img{
        grid-column-start: right;
        grid-column-end: left2;
        transform: translateY(50px);
        opacity: 0;
        animation: enter-anim 0.6s ease-out;
        animation-fill-mode: forwards;

        @keyframes enter-anim{
            0%{
                opacity: 0;
                transform: translateY(50px);
            }

            100%{
                opacity: 1;
                transform: translateY(0);
            }
        }

        img{
            width: 850px;
            height: auto;
        }

    }

    &-description{
        grid-column-start: right;
        grid-column-end: end;
        grid-row-start: part2;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-title{
            font-weight: bold;
            font-size: 40px;
            color: $title-color;
            text-transform: uppercase;
            width: 70%;
            line-height: 48px;
            font-family: "Signika";
        }

        &-text{
            width: 70%;
            font-size: 18px;
            line-height: 32px;
            font-family: "Oxygen-Regular";
        }
    }

    &-video{
        text-align: center;
        width: 100%;
        height: 100vh;
        grid-column-start: left;
        grid-column-end : container2;
        grid-row-start: video;
        video{
            width: auto;
            margin: 0 auto;
            height: 100%;
        }

    }

    &-fact{
        grid-row-start: fact;
        grid-column-start: right;
        grid-column-end: container2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title{
            text-align: left;
            font-weight: bold;
            font-size: 80px;
            color: $black-alt;
            text-transform: uppercase;
            font-family: "Signika";
        }

        &-text{
            margin-top: 50px;
            width: 70%;
            font-size: 18px;
            line-height: 32px;
            font-family: "Oxygen-Regular";
        }
    }

    &-fact-img{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row-start: fact;
        grid-column-start: left;
        grid-column-end: right;
        text-align: center;

        img{
            width: 460px;
            height:auto;
        }

    }

    &-cooking-img{
        text-align: right;
        grid-row-start: cooking;
        grid-column-start: container1;
        grid-column-end: left2;
    }

    &-cooking-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row-start: cooking;
        grid-column-start: left2;
        grid-column-end: container2;

        h2{
            margin-left: 50px;
            text-align: left;
            font-weight: bold;
            font-size: 80px;
            color: $black-alt;
            text-transform: uppercase;
            font-family: "Signika";
        }

        &-subtitle{
            margin-top: 50px;
            margin-left: 50px;
            text-align: left;
            font-weight: bold;
            font-size: 60px;
            color: $title-color;
            font-family: "Signika";
        }
        
        &-text{
            margin-left: 50px;
            margin-top: 50px;
            width: 70%;
            font-size: 18px;
            line-height: 32px;
            font-family: "Oxygen-Regular";
        }
    }

    &-clothes-title{
        grid-row-start: clothes;
        grid-column-start: left;
        grid-column-end: container2;
        margin-left: 50px;
        margin-top: 50px;
        text-align: left;
        font-weight: bold;
        font-size: 80px;
        color: $black-alt;
        text-transform: uppercase;
        font-family: "Signika";
    }

    &-clothes-content{
        grid-row-start: clothes;
        grid-column-start: left;
        grid-column-end: left2;
        margin-left: 50px;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 70%;
            height: auto;
        }
    }

    &-clothes-text{
        grid-row-start: clothes;
        grid-column-start: left2;
        grid-column-end: container2;
        margin-left: 50px;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-title{
            font-size: 28px;
            font-family: "Signika";
            font-weight: bold;

            strong{
                margin-left: 20px;
                color: $title-color;
            }
        }

        &-text{
            margin-top: 50px;
            width: 70%;
            font-size: 18px;
            line-height: 32px;
            font-family: "Oxygen-Regular";
        }
    }

    &-climate-title{
        grid-row-start: climate;
        grid-column-start: left;
        grid-column-end: container2;
        margin-left: 50px;
        margin-top: 50px;
        text-align: left;
        font-weight: bold;
        font-size: 80px;
        color: $black-alt;
        text-transform: uppercase;
        font-family: "Signika";
    }

    &-climate-content{
        grid-row-start: climate;
        grid-column-start: left;
        grid-column-end: right;
        margin-top: 150px;
        margin-left: 50px;

        &-seasons{
            font-family: "Signika";
            font-size: 24px;
            font-weight: bold;
            color: $black-alt;
            margin-top: 25px;
        }

        &-weather{
            font-family: "Signika";
            font-size: 18px;
            color: $black-alt;
            margin-top: 15px;
            line-height: 24px;
        }

    }

    &-climate-img{
        grid-row-start: climate;
        grid-column-start: right;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            height: 100%;
            width: auto;
        }
    }

    &-wildlife{
        grid-row-start: wildlife;
        grid-column-start: left;
        grid-column-end: right;
        margin-left: 50px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title{
            
            text-align: left;
            font-weight: bold;
            font-size: 80px;
            color: $black-alt;
            text-transform: uppercase;
            font-family: "Signika";
        }

        &-description{
            font-family: "Oxygen-Regular";
            font-size: 18px;
            color: $black-alt;
            margin-top: 15px;
            line-height: 24px;
        }
    }

    &-wildlife-img{
        grid-row-start: wildlife;
        grid-column-start: right;
        grid-column-end: container2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            height: auto;
            width: 100%;
        }
    }
}

.street-view{
    .menu-backto{
        grid-column-start: content;
        grid-column-end: column4;
        grid-row-start: title;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
        width: 140px;
        height: 40px;
        border-radius: 20px;
        font-family: Oxygen-Bold;
        color: $black-alt;
        font-size: 14px;
        text-transform: uppercase;
        -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
        cursor: pointer;
        background: $white-alt;
        position: fixed;
        top: 18px;
        left: 80px;
    }
}

.single-place-speaker{
    width: 35px;
    height: auto;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
}