.single-country{
    background: $white-alt;
    display: grid;
    grid-template-rows: [row1] 40px [middle] 100vh [space] 50px [data] 40vh [data2] 40vh [data3] 10vh [data4] 480px [sounds] 100vh [society] 100vh [history] 100vh [famous] 100vh [visit] 140vh;
    grid-template-columns: [column1] 100px [middle] auto [column2] 100px [end];

    &-title{
        grid-column-start: middle;
        text-align: center;
        margin-top: 110px;

        h1{
            font-family: "Signika";
            font-weight: bold;
            font-size: 90px;
            color: $black-alt;
            line-height: 60px;

            strong{
                font-size: 63px;
                color: $title-color;
            }
        }
    }

    &-img{
        grid-column-start: middle;
        grid-column-end: column2;
        width: 100%;
        img{
            width: 816px;
            height: auto;
        }
    }

    &-data-title{
        grid-row-start: data;
        grid-column-start: middle;
        grid-column-end: column2;
        justify-self: end;
        text-align: right;
        font-family: "Signika";
        font-weight: bold;
        font-size: 90px;
        color: $black-alt;
        line-height: 60px;
        margin-top: 50px;
        margin-right: 50px;

        strong{
            font-size: 63px;
            color: $title-color;
        }
    }

    &-data-first-row{
        grid-row-start: data2;
        grid-column-start: middle;
        grid-column-end: column2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;

        &-flag{
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;
            }

            img{
                width: 160px;
                height: auto;
                margin-top: 20px;
            }
        }

        &-population{
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;
            }
            &-data{
                color: $title-color;
                font-size: 36px;
                margin-top: 20px;
                font-weight: bold;
            }

            &-comparison{
                font-size: 14px;
                color: $title-color;
                font-weight: normal;
                margin-top: 20px;
            }
        }

        &-area{
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;
            }
            &-data{
                color: $title-color;
                font-size: 36px;
                margin-top: 20px;
                font-weight: bold;
            }

            &-comparison{
                font-size: 14px;
                color: $title-color;
                font-weight: normal;
                margin-top: 20px;
            }
        }
    }

    &-data-second-row{
        grid-row-start: data3;
        grid-column-start: middle;
        grid-column-end: column2;
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;

        &-continent{
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;

                strong{
                    color: $title-color;
                }
            }
        }
        &-capital{
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;

                strong{
                    color: $title-color;
                }
            }
        }
    }

    &-data-third-row{
        grid-row-start: data4;
        grid-column-start: column1;
        grid-column-end: end;

        img{
            width: 100%;
        }
    }

    &-sounds{
        grid-row-start: sounds;
        grid-column-start: column1;
        grid-column-end: end;
        background: url('../img/inde_sound.png');
        background-size: cover;
        padding: 50px 0px 0px 100px;

        &-anthem{
            width: 100%;
            height: 40%;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                font-size: 16px;
                color: $title-color;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
            }
        }

        &-translations{
            width: 100%;
            height: 60%;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-cta{
                margin: 15px 0px 0px 0px;
                font-size: 16px;
                color: $black-alt;
                font-family: "Signika";
            }

            &-element{

                li{
                    font-family: Oxygen-Regular;
                    color: $black-alt;
                    font-size: 14px;
                    display: inline-block;
                    width: 130px;
                    margin-top: 30px;

                    &.other-language{
                        text-align: center;
                        font-family: Oxygen-Bold;
                        color: $white;
                        font-size: 16px;
                        cursor: pointer;
                        padding: 15px;
                        background: $title-color;
                        border-radius: 50px;
                    }
                }
                
            }
        }
    }

    &-society{
        grid-row-start: society;
        grid-column-start: column1;
        grid-column-end: end;
        background-image: url('../img/inde_society.png');
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: space-between;

        &-content{
            margin-left: 100px;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                width: 80%;
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }

            &-links{
                width: 100%;
                margin-top: 60px;
                display: flex;
                justify-content: space-around;

                &-transports{
                    font-size: 12px;
                    color: $white;
                    font-family: "Oxygen-Regular";
                    margin-top: 20px;
                    background: $title-color;
                    width: 150px;
                    padding: 14px;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 50px;
                }
    
    
                &-life{
                    margin-right: 50px;
                    font-size: 12px;
                    color: $white;
                    font-family: "Oxygen-Regular";
                    margin-top: 20px;
                    background: $title-color;
                    width: 150px;
                    padding: 14px;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 50px;
                }
            }
        }

        &-img{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &-history{
        grid-row-start: history;
        grid-column-start: column1;
        grid-column-end: end;
        background-image: url('../img/inde_history.png');
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: space-between;

        &-content{
            margin-left: 100px;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                width: 80%;
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }
        }

        &-img{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &-famous{
        grid-row-start: famous;
        grid-column-start: column1;
        grid-column-end: end;
        background-image: url('../img/inde_famous.png');
        background-size: cover;

        &-content{
            margin-left: 100px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                width: 520px;
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }
            video{
                text-align: center;
                width: 654px;
                height: auto;
                margin-top: 20px;
            }
        }

        &-img{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &-visit{
        grid-column-start: middle;
        grid-column-end: column2;
        grid-row-start: visit;
        display: flex;
        margin-top: 50px;


        &-content{
            margin-top: 100px;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }

        }

        &-img{
            height: 100%;

            img{
                width: auto;
                height: 900px;
            }
        }
    }
}

.single-country-transports{
    background: $white-alt;
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100vw);

    &-container{
        width: 85%;
        height: 100%;
        margin: 0 auto;
        position: relative;

        .single-country-transports-backtocountry{
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 30px;
            width: 140px;
            height: 40px;
            border-radius: 20px;
            font-family: Oxygen-Bold;
            color: $black-alt;
            font-size: 14px;
            text-transform: uppercase;
            -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            cursor: pointer;
            background: $white-alt;
            margin-top: 30px;
        }
        
        .single-country-transports-content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }
    
    
            &-description{
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }
        }
    }
}

.single-country-life{
    background: $white-alt;
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100vw);

    &-container{
        width: 85%;
        height: 100%;
        margin: 0 auto;
        position: relative;

        .single-country-life-backtocountry{
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 30px;
            width: 140px;
            height: 40px;
            border-radius: 20px;
            font-family: Oxygen-Bold;
            color: $black-alt;
            font-size: 14px;
            text-transform: uppercase;
            -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            cursor: pointer;
            background: $white-alt;
            margin-top: 30px;
        }
        
        .single-country-life-content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }
    
    
            &-description{
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }
        }
    }
}