.single-country{
    background: $white-alt;
    display: grid;
    grid-template-rows: [row1] 40px [middle] 100vh [space] 300px [data2] 35vh [data3] 10vh [data4] 480px [sounds] 110vh [society] 100vh [history] 100vh [famous] 100vh [visit] 140vh;
    grid-template-columns: [column1] 100px [middle] auto [column2] 100px [end];
    transform: translateX(0);
    transition: all 0.4s ease-out;

    &.active{
        transition: all 0.4s ease-out;
        transform: translateX(-60vw);
        pointer-events: none;
    }

    &-title{
        width: 50%;
        grid-column-start: middle;
        margin-top: 110px;
        text-align: center;

        h1{
            font-family: "Signika";
            font-weight: bold;
            font-size: 90px;
            color: $black-alt;
            line-height: 60px;

            strong{
                font-size: 63px;
                color: $title-color;
            }
        }
    }

    &-img{
        grid-column-start: middle;
        grid-column-end: column2;
        width: 100%;
        text-align: right;
        img{
            width: 816px;
            height: auto;
        }
    }

    &-data-title{
        grid-row-start: data;
        grid-column-start: middle;
        grid-column-end: column2;
        justify-self: end;
        text-align: right;
        font-family: "Signika";
        font-weight: bold;
        font-size: 90px;
        color: $black-alt;
        line-height: 60px;
        margin-top: 50px;
        margin-right: 50px;

        strong{
            font-size: 63px;
            color: $title-color;
        }
    }

    &-data-first-row{
        grid-row-start: data2;
        grid-column-start: middle;
        grid-column-end: column2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;

        &-flag{
            position: relative;
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;
            }

            img{
                width: 160px;
                height: auto;
                margin-top: 20px;
            }

            &:after{
                position: absolute;
                content: '';
                top: 70%;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                height: 150%;
                background-color: $title-color;
            }
        }

        &-population{
            position: relative;
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;
            }
            &-data{
                color: $title-color;
                font-size: 36px;
                margin-top: 20px;
                font-weight: bold;
            }

            &-comparison{
                font-size: 14px;
                color: $title-color;
                font-weight: normal;
                margin-top: 20px;
            }

            &:after{
                position: absolute;
                content: '';
                top: 70%;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                height: 150%;
                background-color: $title-color;
            }
        }

        &-area{
            position: relative;
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;
            }
            &-data{
                color: $title-color;
                font-size: 36px;
                margin-top: 20px;
                font-weight: bold;
            }

            &-comparison{
                font-size: 14px;
                color: $title-color;
                font-weight: normal;
                margin-top: 20px;
            }

            &:after{
                position: absolute;
                content: '';
                top: 70%;
                right: 100px;
                width: 2px;
                height: 150%;
                background-color: $title-color;
            }
        }
    }

    &-data-second-row{
        grid-row-start: data3;
        grid-column-start: middle;
        grid-column-end: column2;
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;

        &-continent{
            position: relative;
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;

                strong{
                    color: $title-color;
                }
            }
            &:after{
                position: absolute;
                content: '';
                top: 70%;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                height: 300px;
                background-color: $title-color;
            }
        }
        &-capital{
            position: relative;
            &-title{
                font-family: "Signika";
                font-size: 36px;
                color: $black-alt;
                font-weight: bold;

                strong{
                    color: $title-color;
                }
            }
            &:after{
                position: absolute;
                content: '';
                top: 70%;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                height: 300px;
                background-color: $title-color;
            }
        }
    }

    &-data-third-row{
        grid-row-start: data4;
        grid-column-start: column1;
        grid-column-end: end;
        z-index: 2;
        text-align: center;

        img{
            width: 100%;
        }
    }

    &-sounds{
        grid-row-start: sounds;
        grid-column-start: middle;
        grid-column-end: column2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;

        &-anthem{
            width: 100%;
            height: 200px;
            margin-top: 40px;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                font-size: 16px;
                color: $title-color;
                font-family: "Oxygen-Regular";
                margin-top: 10px;
            }

            &-content{
                margin-top: 30px;
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-play{
                    width: 100px;
                    height: 100px;
                    border: 1px $title-color solid;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                &-bar{
                    position: relative;
                    width: 380px;
                    height: 6px;

                    &-empty{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border: 1px solid $title-color;
                        border-radius: 5px;

                    }

                    &-full{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border: 1px solid $title-color;
                        background: $title-color;
                        border-radius: 5px;
                        transform: scaleX(0);
                    }
                }
            }
        }

        &-translations{
            z-index: 1;
            width: 100%;
            height: 500px;
            margin-top: 40px;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-cta{
                margin: 15px 0px 0px 0px;
                font-size: 16px;
                color: $black-alt;
                font-family: "Signika";
            }

            &-element{

                li{
                    font-family: Oxygen-Regular;
                    color: $black-alt;
                    font-size: 14px;
                    display: inline-block;
                    width: 130px;
                    margin-top: 30px;

                    &.other-language{
                        text-align: left;
                        font-family: Oxygen-Bold;
                        color: $white;
                        font-size: 16px;
                        cursor: pointer;
                        padding: 15px;
                        background: $title-color;
                        border-radius: 50px;
                        width: 200px;
                        margin-right: 10px;

                        strong{
                            font-family: Oxygen-Regular;
                            font-size: 14px;
                        }
                    }
                }
                
            }
        }

        &-img{
            z-index: 0;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-60%);
            height: 100%;

            img{
                height: 110%;
                width: auto;
            }
        }
    }

    &-society{
        grid-row-start: society;
        grid-column-start: column1;
        grid-column-end: end;
        background-image: url('../img/inde_society.png');
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: space-between;

        &-content{
            margin-left: 100px;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                width: 80%;
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }

            &-links{
                width: 100%;
                margin-top: 60px;
                display: flex;
                justify-content: space-around;

                &-transports{
                    font-size: 14px;
                    color: $white;
                    font-family: "Oxygen-Bold";
                    margin-top: 20px;
                    background: $title-color;
                    width: 230px;
                    height: 45px;
                    padding: 14px;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 50px;
                    text-transform: uppercase;
                }
    
    
                &-life{
                    margin-right: 50px;
                    font-size: 14px;
                    color: $white;
                    font-family: "Oxygen-Bold";
                    margin-top: 20px;
                    background: $title-color;
                    width: 230px;
                    height: 45px;
                    padding: 14px;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 50px;
                    text-transform: uppercase;
                }
            }
        }

        &-img{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                height: auto;
                width: 400px;
                display: block;
            }
        }
    }

    &-history{
        grid-row-start: history;
        grid-column-start: column1;
        grid-column-end: end;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: space-between;

        &-content{
            margin-left: 100px;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                width: 80%;
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }
        }

        &-img{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                height: auto;
                width: 500px;
                display: block;
            }
        }
    }

    &-famous{
        grid-row-start: famous;
        grid-column-start: column1;
        grid-column-end: end;
        background-image: url('../img/inde_famous.png');
        background-size: cover;
        position: relative;

        &-content{
            margin-left: 100px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 0;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                width: 520px;
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }
            video{
                text-align: center;
                width: 654px;
                height: auto;
                margin-top: 20px;
            }
        }

        &-img{
            position: absolute;
            bottom: 0;
            right: 0;

            img{
                width: 700px;
                height: auto;
            }
        }
    }

    &-visit{
        grid-column-start: middle;
        grid-column-end: column2;
        grid-row-start: visit;
        display: flex;
        margin-top: 50px;


        &-content{
            margin-top: 100px;

            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }

            &-description{
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
            }

        }

        &-img{
            height: 100%;
            position: relative;

            img{
                width: auto;
                height: 900px;
            }

            .single-country-visit-img-pin{
                cursor: pointer;
                width: 70px;
                height: 70px;
                position: absolute;

                &:nth-of-type(2){
                    top: 200px;
                    left: 220px;
                }

                &:nth-of-type(3){
                    top: 520px;
                    left: 100px;
                }

                &:nth-of-type(4){
                    bottom: 150px;
                    left: 240px;
                }
            }

            &-content{
                position: absolute;
                width: 340px;
                height: 150px;
                background: grey;

                &:first-of-type{
                    top: 40px;
                    left: 135px;
                }

                &:nth-of-type(2){
                    top: 360px;
                    left: 25px;
                }

                &:nth-of-type(3){
                    bottom: 230px;
                    left: 150px;
                }

                &-title{
                    font-family: "Signika";
                    font-weight: bold;
                    color: $white-alt;
                    font-size: 36px;
                    text-transform: uppercase;
                    margin-top: 30px;
                    margin-left: 10px;
                }

                &-content{
                    width: 320px;
                    margin: 20px auto 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-img{
                        font-family: "Signika";
                        font-weight: bold;
                        color: $title-color;
                        font-size: 24px;
                        display: inline-block;
    
                    }
    
                    a{
                        width: 170px;
                        height: 40px;
                        border-radius: 68px;
                        font-family: Oxygen-Bold;
                        color: $white-alt;
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
                        -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
                        box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
                        background: $title-color;
                        cursor: pointer;
                        display: block;
                        line-height: 40px;
                        text-align: center;
                    }   
                }
            }
        }
    }
}

.single-country-transports{
    background: $white-alt;
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100vw);
    transition: all 0.4s ease-out;

    &.active{
        transition: all 0.4s ease-out;
        transform: translateX(0);
    }
    &-container{
        width: 85%;
        height: 100%;
        margin: 0 auto;
        position: relative;

        .single-country-transports-backtocountry{
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 140px;
            height: 40px;
            border-radius: 20px;
            font-family: Oxygen-Bold;
            color: $black-alt;
            font-size: 14px;
            text-transform: uppercase;
            -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            cursor: pointer;
            background: $white-alt;
            margin-top: 30px;
        }
        
        .single-country-transports-content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }
    
    
            &-description{
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
                width: 100%;
            }

            img{
                margin-top: 20px;
                width: 600px;
                height: auto;
            }
        }
    }
}

.single-country-life{
    background: $white-alt;
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100vw);
    transition: all 0.4s ease-out;

    &.active{
        transition: all 0.4s ease-out;
        transform: translateX(0);
    }

    &-container{
        width: 85%;
        height: 100%;
        margin: 0 auto;
        position: relative;

        .single-country-life-backtocountry{
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 140px;
            height: 40px;
            border-radius: 20px;
            font-family: Oxygen-Bold;
            color: $black-alt;
            font-size: 14px;
            text-transform: uppercase;
            -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
            cursor: pointer;
            background: $white-alt;
            margin-top: 30px;
        }
        
        .single-country-life-content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-title{
                font-size: 40px;
                color: $black-alt;
                font-family: "Signika";
                font-weight: bold;
            }
    
    
            &-description{
                font-size: 16px;
                color: $black-alt;
                font-family: "Oxygen-Regular";
                margin-top: 20px;
                line-height: 24px;
                width: 100%;
            }

            img{
                margin-top: 20px;
                width: 600px;
                height: auto;
            }
        }
    }
}