.single-place{
    background: $white-alt;
    display: grid;
    grid-template-columns: [container1] 50px [left] 40% [left2] 10% [right] auto [container2] 50px;
    grid-template-rows: [start] 100% [space] 100px [part2] 50vh [video] 100vh  [space] 50px [fact] 100vh [space] 50px [cooking] 100vh [space] 50px [clothes] 100vh [space] 50px [climate] 100vh [space] 50px [wildlife] 100vh;

    &-title{
        grid-column-start: left;
        grid-column-end: left2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100vh;
        padding-right: 30px;
        transform: translateX(50px);
        opacity: 0;
        animation: enter-anim-second 0.8s ease-out 0.6s;
        animation-fill-mode: forwards;

        @keyframes enter-anim-second{
            0%{
                opacity: 0;
                transform: translateX(50px);
            }

            100%{
                opacity: 1;
                transform: translateX(0);
            }
        }

        &-text{
            text-align: right;
            h1{
                font-size: 90px;
                font-family: 'Signika', sans-serif;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        &-img{
            font-size: 63px;
            margin-top: 15px;
            color: $title-color;
        }

        &-button{
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px;
            width: 250px;
            height: 70px;
            border-radius: 68px;
            font-family: Oxygen-Bold;
            color: $white-alt;
            font-size: 14px;
            text-transform: uppercase;
            -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
            background: $title-color;
            cursor: pointer;
        }
    }

    &-img{
        grid-column-start: left2;
        grid-column-end: end;
        transform: translateY(50px);
        opacity: 0;
        animation: enter-anim 0.6s ease-out;
        animation-fill-mode: forwards;

        @keyframes enter-anim{
            0%{
                opacity: 0;
                transform: translateY(50px);
            }

            100%{
                opacity: 1;
                transform: translateY(0);
            }
        }

        img{
            width: 850px;
            height: auto;
        }

    }

    &-description{
        grid-column-start: right;
        grid-column-end: end;
        grid-row-start: part2;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-title{
            font-weight: bold;
            font-size: 40px;
            color: $title-color;
            text-transform: uppercase;
            width: 70%;
            line-height: 48px;
            font-family: "Signika";
        }

        &-text{
            width: 70%;
            font-size: 18px;
            line-height: 27px;
            font-family: "Oxygen-Regular";
        }
    }

    &-video{
        text-align: center;
        width: 100%;
        height: 100vh;
        grid-column-start: left;
        grid-column-end : container2;
        grid-row-start: video;
        video{
            width: 90%;
            margin: 0 auto;
            height: auto;
        }

    }

    &-fact{
        grid-row-start: fact;
        grid-column-start: right;
        grid-column-end: container2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title{
            text-align: left;
            font-weight: bold;
            font-size: 80px;
            color: $black-alt;
            text-transform: uppercase;
            font-family: "Signika";
        }

        &-text{
            margin-top: 50px;
            width: 70%;
            font-size: 18px;
            line-height: 27px;
            font-family: "Oxygen-Regular";
        }
    }

    &-fact-img{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row-start: fact;
        grid-column-start: left;
        grid-column-end: right;
        text-align: center;

        img{
            width: 460px;
            height:auto;
        }

    }

    &-cooking-img{
        text-align: right;
        grid-row-start: cooking;
        grid-column-start: left;
        grid-column-end: left2;
        width: 100%;
        height: 100%;
        margin-top: 70px;
        margin-left: 10px;

        img{
            width: 460px;
            height: auto;
        }
    }

    &-cooking-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row-start: cooking;
        grid-column-start: left2;
        grid-column-end: container2;

        h2{
            margin-left: 50px;
            text-align: left;
            font-weight: bold;
            font-size: 80px;
            color: $black-alt;
            text-transform: uppercase;
            font-family: "Signika";
        }

        &-subtitle{
            margin-top: 50px;
            margin-left: 50px;
            text-align: left;
            font-weight: bold;
            font-size: 60px;
            color: $title-color;
            font-family: "Signika";
        }
        
        &-text{
            margin-left: 50px;
            margin-top: 50px;
            width: 70%;
            font-size: 18px;
            line-height: 27px;
            font-family: "Oxygen-Regular";
        }
    }

    &-clothes-title{
        grid-row-start: clothes;
        grid-column-start: left;
        grid-column-end: container2;
        margin-left: 50px;
        margin-top: 50px;
        text-align: left;
        font-weight: bold;
        font-size: 80px;
        color: $black-alt;
        text-transform: uppercase;
        font-family: "Signika";
    }

    &-clothes-content{
        grid-row-start: clothes;
        grid-column-start: left;
        grid-column-end: left2;
        margin-left: 50px;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 70%;
            height: auto;
        }
    }

    &-clothes-text{
        grid-row-start: clothes;
        grid-column-start: left2;
        grid-column-end: container2;
        margin-left: 50px;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-title{
            font-size: 28px;
            font-family: "Signika";
            font-weight: bold;

            strong{
                margin-left: 20px;
                color: $title-color;
            }
        }

        &-text{
            margin-top: 50px;
            width: 70%;
            font-size: 18px;
            line-height: 27px;
            font-family: "Oxygen-Regular";
        }
    }

    &-climate-title{
        grid-row-start: climate;
        grid-column-start: left;
        grid-column-end: container2;
        margin-left: 50px;
        margin-top: 50px;
        text-align: left;
        font-weight: bold;
        font-size: 80px;
        color: $black-alt;
        text-transform: uppercase;
        font-family: "Signika";
    }

    &-climate-content{
        grid-row-start: climate;
        grid-column-start: left;
        grid-column-end: right;
        margin-top: 150px;
        margin-left: 50px;

        &-seasons{
            font-family: "Signika";
            font-size: 24px;
            font-weight: bold;
            color: $black-alt;
            margin-top: 25px;
        }

        &-weather{
            font-family: "Oxygen-Regular";
            font-size: 18px;
            color: $black-alt;
            margin-top: 15px;
            line-height: 27px;
        }

    }

    &-climate-img{
        grid-row-start: climate;
        grid-column-start: right;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            height: 100%;
            width: auto;
        }
    }

    &-wildlife{
        grid-row-start: wildlife;
        grid-column-start: left;
        grid-column-end: right;
        margin-left: 50px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title{
            
            text-align: left;
            font-weight: bold;
            font-size: 80px;
            color: $black-alt;
            text-transform: uppercase;
            font-family: "Signika";
        }

        &-description{
            font-family: "Oxygen-Regular";
            font-size: 18px;
            color: $black-alt;
            margin-top: 15px;
            line-height: 27px;
        }
    }

    &-wildlife-img{
        grid-row-start: wildlife;
        grid-column-start: right;
        grid-column-end: container2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            height: auto;
            width: 100%;
        }
    }

    &.new-delhi{
        .single-place-clothes-content{
            img{
                width: auto;
                height: 100%;
            }
        }

        @media screen and (max-width:1024px){
            grid-template-rows: [start] 1100px [part2] 500px [video] 500px [fact] 1200px  [cooking] 900px [space] 50px [clothes] 950px [space] 100px [climate] 1400px [wildlife] 1800px;
            .single-place-fact{
                margin-top: 800px;
            }
            .single-place-cooking-text{
                margin-left: 0px;
            }
            .single-place-wildlife{
                margin-top: 1050px;
            }
        }

        @media screen and (max-width:768px){
            grid-template-rows: [start] 1000px [part2] 500px [video] 580px [fact] 1100px [space] 50px  [cooking] 1100px [space] 200px [clothes] 800px [space] 100px [climate] 1200px [space] 50px [wildlife] 1600px;
            .single-place-fact{
                margin-top: 800px;
            }
            .single-place-wildlife{
                margin-top: 800px;
            }
    
        }
    }

    &.bangalore{
        @media screen and (max-width:1024px){
            grid-template-rows: [start] 1100px [part2] 500px [video] 500px [space] 150px [fact] 1200px  [cooking] 900px [space] 50px [clothes] 950px [space] 100px [climate] 1400px [wildlife] 1600px;
            .single-place-title{
                grid-column-end: right;
                padding: 0;
            }

            .single-place-fact{
                margin-top: 800px;
            }

            .single-place-clothes-content{
                margin-top: 50px;
            }

            .single-place-clothes-text{
                margin-top: 50px;
            }

            .single-place-wildlife{
                margin-top: 800px;
            }
        }

        @media screen and (max-width:768px){
            grid-template-rows: [start] 1000px [part2] 500px [video] 580px [fact] 1000px [space] 50px  [cooking] 900px [space] 200px [clothes] 800px [space] 100px [climate] 1200px [space] 50px [wildlife] 1400px;

            .single-place-fact{
                margin-top: 700px;
            }
            .single-place-wildlife{
                margin-top: 600px;
            }
    
        }
    }

    @media screen and (max-width:1024px){
        grid-template-columns: [container1] 50px [left] 40% [left2] 10% [right] auto [container2] 50px;
        grid-template-rows: [start] 1000px [part2] 500px [video] 680px [fact] 900px  [cooking] 900px [space] 50px [clothes] 950px [space] 100px [climate] 100vh [space] 100px [wildlife] 100vh;
    
        &-description{
            grid-column-start: left2;
            grid-column-end: end;
            justify-content: center;
            width: 600px;

            &-text{
                margin-top: 40px;
                font-size: 17pt;
                line-height: 32px;
            }
        }

        &-video{
            height: auto;
            width: 924px;

            video{
                width: 100%;
            }
        }

        &-fact-img{
            display: block;
            grid-column-start: inherit;
            grid-column-end: inherit;
            width: 100vw;
            text-align: center;
        }

        &-fact{
            display: block;
            margin-top: 640px;
            grid-column-start: inherit;
            grid-column-end: inherit;
            width: 924px;

            &-title{
                text-align: center;
            }

            &-text{
                width: 800px;
                font-size: 17pt; 
                line-height: 32px;
                margin: 40px auto;
            }
        }

        &-cooking-img{
            margin-left: -70px;
        }

        &-cooking-text{
            margin-left: -30px;
            h2{
                margin-left: 0;
            }
            &-subtitle{
                margin-left: 0;
            }
            &-text{
                margin-left: 0;
                font-size: 17pt;
                line-height: 32px;
                width: 500px;
            }
        }

        &-clothes-title{
            grid-column-start: inherit;
            grid-column-end: inherit;
            margin: 0;
            text-align: center;
            width: 100vw;
        }

        &-clothes-content{
            img{
                height: 100%;
                width: auto;
            }
        }

        &-clothes-text{
            margin-left: 0px;

            &-text{
                width: 500px;
                font-size: 17pt;
                line-height: 32px;
            }
        }

        &-climate-title{
            margin-top: 250px;
        }

        &-climate-content{
            margin-top: 350px;

            &-weather{
                font-size: 17pt;
                line-height: 32px;
            }
        }

        &-wildlife-img{
            display: block;
            grid-column-start: inherit;
            grid-column-end: inherit;
            width: 100vw;
            text-align: center;
        }

        &-wildlife{
            display: block;
            margin-top: 640px;
            grid-column-start: inherit;
            grid-column-end: inherit;
            width: 924px;

            &-title{
                text-align: center;
            }

            &-description{
                width: 800px;
                font-size: 17pt; 
                line-height: 32px;
                margin: 40px auto;
            }
        }
    }

    @media screen and (max-width:768px){
        grid-template-columns: [container1] 20px [left] 40% [left2] 10% [right] auto [container2] 20px;
        grid-template-rows: [start] 1000px [part2] 500px [video] 580px [fact] 900px [space] 50px  [cooking] 1100px [space] 200px [clothes] 800px [space] 100px [climate] 1200px [space] 200px [wildlife] 1300px;


        &-title{
            &-text{
                h1{
                    font-size: 60px;
                }
            }
        }

        &-description{
            grid-column-start: left;
            margin-left: 50px;
        }

        &-video{
            width: 728px;
        }

        &-fact{
            width: 728px;

            &-text{
                width: 688px;
            }
        }

        &-cooking-img{
            margin-top: 0px;
        }

        &-cooking-text{
            margin-left: -80px;
            justify-content: flex-end;
        }

        &-clothes-content{
            margin-left: -50px;
        }

        &-clothes-text{
            margin-left: -40px;

            &-text{
                width: 450px;
            }
        }

        &-climate-content{
            width: 120%;
        }

        &-wildlife{
            margin-top: 500px;
            margin-left: 0px;
            width: 100vw;

            &-description{
                width: 688px;
            }
        }
    }

}

.single-place-speaker{
    width: 35px;
    height: auto;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
}

.single-place-streetview{
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 250px;
    height: 70px;
    border-radius: 68px;
    font-family: Oxygen-Bold;
    color: $white-alt;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
    background: $title-color;
    cursor: pointer;
}

.single-place-streetview-area{
    position: absolute;
    width: 90vw;
    height: 90vh;
    transform: translateX(-100vw);
    display: none;
    top: 70vh;

    &-backtoplace{
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 140px;
        height: 40px;
        border-radius: 20px;
        font-family: Oxygen-Bold;
        color: $black-alt;
        font-size: 14px;
        text-transform: uppercase;
        -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.25);
        cursor: pointer;
        background: $white-alt;
        margin-top: 30px;
    }
}