<div class="single-place mumbai">

    <div class="single-place-title">
        <div class="single-place-title-text">
            <h1>
                Mumbai
            </h1>
        </div>
        <div class="single-place-title-img">
            <h2>मुंबई</h2>
        </div>
        <div class="single-place-title-button">
            <span class="single-place-title-button-icon">
                <img src="../img/streetview.png" alt="">
            </span>
            <span class="single-place-title-button-content" data-long="72.877656" data-lat="19.075984">
                Balade-toi dans la ville !
            </span>
            
        </div>
    </div>

    <div class="single-place-img">
        <img src="../img/mumbai.png" alt="">
    </div>

    <div class="single-place-description">
        <h2 class="single-place-description-title">Mumbai, la Porte de l’Inde</h2>
        <p class="single-place-description-text">
            Pars à la découverte de Mumbai, habitat de la déesse hindoue Mumbadevi. Sous la chaleur humide de la ville, rencontre les habitants haut en couleur. 
        </p>
    </div>

    <div class="single-place-video">
        <video src="../media/mumbai.mp4" loop></video>
    </div>

    <div class="single-place-fact-img">
        <img src="../img/mumbai_fact.png" alt="">
    </div>

    <div class="single-place-fact">
        <h2 class="single-place-fact-title">
            Le savais-tu ?
        </h2>
        <p class="single-place-fact-text">
            Le Taj Mahal Palace à Colaba est le premier hôtel 5 étoiles de l'Inde. Fondé en 1903, l'hôtel fut le premier en Inde à avoir l'électricité, les bains turcs et les ascenseurs. Il y avait aussi le premier restaurant indien ouvert toute la journée, ainsi que la première discothèque du pays !
        </p>
    </div>

    <div class="single-place-cooking-img">
        <img src="../img/mumbai_cooking.png" alt="">
    </div>

    <div class="single-place-cooking-text">
        <h2 class="single-place-cooking-text-title">
            Cuisine
        </h2>
        <p class="single-place-cooking-text-subtitle">
            Batata Poha
        </p>
        <p class="single-place-cooking-text-text">
            Batata poha est l'une des recettes de base de la région pour le petit-déjeuner faite avec de la pomme de terre et du riz aplati. Ce plat est une option facile, rapide et saine pour le petit déjeuner ou le brunch comme collation.
        </p>
    </div>

    <h2 class="single-place-clothes-title">
        Les vêtements
    </h2>
    <div class="single-place-clothes-content">
        <img src="../img/mumbai_clothes.png" alt="">
    </div>
    <div class="single-place-clothes-text">
        <div class="single-place-clothes-text-title">
            Le Sari   <strong>साडी</strong>
        </div>
        <div class="single-place-clothes-text-text">
            Le Sari indien est un vêtement traditionnel porté par des millions de femmes d'Asie du Sud C'est une des rares habitudes vestimentaires à avoir été conservée par le temps. Le sari est une large bande de tissu. Sa technique de drapé varie selon les régions, les castes, les activités, les religions, etc. Il est fait d'une pièce, et il n'était habituellement porté que par les femmes mariées.
        </div>
    </div>

    <h2 class="single-place-climate-title">
        Le climat
    </h2>
    <div class="single-place-climate-content">
        <p class="single-place-climate-content-seasons">
            D'avril à mai
        </p>
        <p class="single-place-climate-content-weather">
            Chaud et humide, avec des températures autour de 30 à 35 °C
        </p>
        <p class="single-place-climate-content-seasons">
            De juin à septembre
        </p>
        <p class="single-place-climate-content-weather">
            C'est la grande saison des moussons, et les longs jours pluvieux sont alors monnaie courante. La vie quotidienne en vient presque à s'arrêter ; les trains, les bus fonctionnent au ralenti à cause des pluies. 
        </p>
        <p class="single-place-climate-content-seasons">
            De octobre à février
        </p>
        <p class="single-place-climate-content-weather">
            C'est la haute saison touristique. Les mois de novembre et de décembre connaissent de courtes pluies, les moussons se retirant. A partir de la mi-décembre, le flot des touristes s'accroît régulièrement.
        </p>
        <p class="single-place-climate-content-seasons">
            De février à mars
        </p>
        <p class="single-place-climate-content-weather">
            C'est la période du début du réchauffement. Les mois de février et mars sont très agréables, mais la température commence lentement à augmenter, ce qui s'accompagne de fréquentes coupures d'eau et de courant.
        </p>
    </div>
    <div class="single-place-climate-img">
        <img src="../img/mumbai_climate.png" alt="">
    </div>

    <div class="single-place-wildlife">
        <h2 class="single-place-wildlife-title">
            Faune et Flore
        </h2>
        <p class="single-place-wildlife-description">
            Véritable poumon vert de la ville : le parc national de Sanjay Gandhi abrite une diversité faunique impressionnante. De nombreux mammifères (antilopes, ours, léopards, singes, porcs-épics...), des reptiles (crocodiles, varans, serpents), des insectes parmi lesquels de nombreux papillons comme l'atlas, le plus grand au monde et des oiseaux. Chouettes, loriots, calaos, hérons, gobe-mouches du paradis, rossignols, passereaux, martins-pêcheurs, mainates, etc. 
            <br><br>    
            La flore du parc. Si vous avez de la chance, vous pourrez assister à l'éclosion d'une Carvia callosa, plante qui ne fleurit qu'une fois tous les sept ans. Rassure-toi, le parc possède une multitude d'autres trésors comme des euphorbes, des hibiscus, des bougainvilliers, des jasmins... Certaines zones du parc sont recouvertes de végétations subtropicales et d'autres de mangroves. Durant la mousson, c'est une véritable explosion de couleurs qui s'opère un peu partout dans le parc.
        </p>
    </div>
    <div class="single-place-wildlife-img">
        <img src="../img/mumbai_wildlife.png" alt="">
    </div>
</div>

<div class="street-view">
    <div class="menu-backto">
        <span class="menu-backto-icon"></span>
        <span class="menu-backto-content">Retourner à la ville</span>
    </div>
</div>

<div class="single-place-speaker">
    <img src="../img/speaker.svg" alt="">
</div>

<div class="single-place-streetview">
    <span class="single-place-streetview-icon">
        <img src="../img/streetview.png" alt="">
    </span>
    <span class="single-place-streetview-content">
        Balade-toi dans la ville !
    </span>
</div>