<div class="single-place">

    <!-- <h1 class="single-place-title">
        Mumbai
    </h1>

    <div class="single-place-backtocountry">
        Inde
    </div>

    <p class="single-place-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur debitis fugit magni itaque ullam maxime officia modi, ipsum praesentium, quo possimus mollitia nostrum, nulla aperiam accusamus assumenda animi dignissimos ipsam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iste ab ad maxime architecto voluptatem quibusdam! Laboriosam sed magnam eos tempore recusandae neque fugiat! Dolor sunt porro adipisci quae sapiente.
    </p>

    <p class="single-place-typical">
        <strong>
            Plat typique :
        </strong>
        Poulet Massala
    </p>

    <div class="single-place-fact">
        <h2 class="single-place-fact-title">
            Le sais-tu ?
        </h2>

        <p class="single-place-fact-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam recusandae molestias ipsa facilis quidem dolores alias consequuntur fugit dolorum assumenda explicabo in suscipit debitis accusantium consectetur, adipisci id. Consequatur, est?
        </p>
    </div>

    <div class="single-place-translation">

        <h2 class="single-place-translation-title">
            Mots courants
        </h2>

        <p class="single-place-translation-cta">Clique pour écouter leur prononciation !</p>

        <ul class="single-place-translation-hello single-place-translation-element">
            <li>Bonjour</li>
            <li class="other-language">Hindi</li>
            <li class="other-language">Bengali</li>
            <li class="other-language">Tamoul</li>
        </ul>

        <ul class="single-place-translation-thanks single-place-translation-element">
            <li>Merci</li>
            <li class="other-language">Hindi</li>
            <li class="other-language">Bengali</li>
            <li class="other-language">Tamoul</li>
        </ul>

        <ul class="single-place-translation-bye single-place-translation-element">
            <li>Au revoir</li>
            <li class="other-language">Hindi</li>
            <li class="other-language">Bengali</li>
            <li class="other-language">Tamoul</li>
        </ul>

        <ul class="single-place-translation-name single-place-translation-element">
            <li>Je m'appelle</li>
            <li class="other-language">Hindi</li>
            <li class="other-language">Bengali</li>
            <li class="other-language">Tamoul</li>
        </ul>

    </div>

    <div class="single-place-footer">
        <div class="single-place-footer-backtomap">
            Carte
        </div>

        <div class="single-place-footer-streetview">
            Streetview
        </div>
    </div> -->

    <div class="single-place-title">
        <div class="single-place-title-text">
            <h1>
                Mumbai
            </h1>
        </div>
        <div class="single-place-title-img">
            <h2>मुंबई</h2>
        </div>
        <div class="single-place-title-button">
            <span class="single-place-title-button-icon">

            </span>
            <span class="single-place-title-button-content">
                Balade-toi dans la ville !
            </span>
        </div>
    </div>

    <div class="single-place-img">
        <img src="../img/mumbai.png" alt="">
    </div>

    <div class="single-place-description">
        <h2 class="single-place-description-title">Mumbai, la plus belle ville du monde</h2>
        <p class="single-place-description-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur minima sed laborum nulla dignissimos officia dolor maxime iure, molestias iste accusamus veniam voluptatum, saepe dicta cum. Nesciunt quisquam officiis similique!

        </p>
    </div>

    <div class="single-place-video">
        <video src="../media/mumbai.mp4" autoplay muted loop></video>
    </div>

    <div class="single-place-fact">
        <h2 class="single-place-fact-title">
            Le savais-tu ?
        </h2>
        <img src="../img/mumbai_fact.png" alt="">
    </div>

    <p class="single-place-fact-text">
            Le Taj Mahal Palace à Colaba est le premier hôtel 5 étoiles de l'Inde. Fondé en 1903, l'hôtel fut le premier en Inde à avoir l'électricité, les bains turcs et les ascenseurs. Il y avait aussi le premier restaurant indien ouvert toute la journée, ainsi que la première discothèque du pays !
    </p>
</div>