<div class="single-country">

    <!-- <h1 class="single-country-title">
        Inde
    </h1>

    <div class="single-country-backtomap">
        Carte
    </div>

    <p class="single-country-continent">
        Continent : <strong>Asie</strong>
    </p>

    <p class="single-country-capital">
        Capitale : <strong>New Delhi</strong>
    </p>

    <ul class="single-country-data">
        <li class="single-country-data-population">
            <strong>
                Population : 
            </strong>
            1,324 milliards
        </li>
        <li class="single-country-data-density">
            <strong>
                Densité : 
            </strong>
            394,02 habitants / km<sup>2</sup>
        </li>
        <li class="single-country-data-political">
            <strong>
                Régime : 
            </strong>
            République fédérale
        </li>
        <li class="single-country-data-languages">
            <strong>
                Langues parlées : 
            </strong>
            Hindi, Bengali, Tamoul
        </li>
    </ul>

    <div class="single-country-anthem">
        <h2 class="single-country-anthem-title">
            Hymne
        </h2>
    </div>

    <div class="single-country-discover">
        <h2 class="single-country-discover-title">
            Découvre ces 3 lieux !
        </h2>

        <div class="single-country-discover-element">
            <div class="single-country-discover-element-content">
                    <p class="single-country-discover-element-content-title">
                        Mumbai
                    </p>
                    <div class="single-country-discover-element-content-discover">
                        <span>
                            +
                        </span>
                        <span>Découvrir</span>
                    </div>
                    <div class="single-country-discover-element-content-streetview">
                        Streetview
                    </div>
            </div>
        </div>
        <div class="single-country-discover-element">
            <div class="single-country-discover-element-content">
                <p class="single-country-discover-element-content-title">
                    New Delhi
                </p>
                <div class="single-country-discover-element-content-discover">
                    <span>
                        +
                    </span>
                    <span>Découvrir</span>
                </div>
                <div class="single-country-discover-element-content-streetview">
                    Streetview
                </div>
            </div>
        </div>
        <div class="single-country-discover-element">
            <div class="single-country-discover-element-content">
                <p class="single-country-discover-element-content-title">
                    Bangalore
                </p>
                <div class="single-country-discover-element-content-discover">
                    <span>
                        +
                    </span>
                    <span>Découvrir</span>
                </div>
                <div class="single-country-discover-element-content-streetview">
                    Streetview
                </div>
            </div>
        </div>
    </div> -->

    <div class="single-country-title">
        <h1>
            Inde
            <br>
            <strong>भारत</strong>
        </h1>
    </div>

    <div class="single-country-img">
        <img src="../img/inde.png" alt="">
    </div>

    <div class="single-country-data-title">
        <h2>            
            Inde
            <br>
        <strong>भारत</strong></h2>
    </div>

    <div class="single-country-data-first-row">
        <div class="single-country-data-first-row-flag">
            <h2 class="single-country-data-first-row-flag-title">
                Drapeau
            </h2>
            <img src="../img/inde_flag.png" alt="">
        </div>
        <div class="single-country-data-first-row-population">
            <h2 class="single-country-data-first-row-population-title">
                Nombre d'habitants
            </h2>
            <p class="single-country-data-first-row-population-data">
                1,324 milliard
            </p>
            <p class="single-country-data-first-row-population-comparison">
                Environ 19 fois la population de la France
            </p>
        </div>
        <div class="single-country-data-first-row-area">
            <h2 class="single-country-data-first-row-area-title">
                Superficie
            </h2>
            <p class="single-country-data-first-row-area-data">
                3,287 millions de km2
            </p>
            <p class="single-country-data-first-row-area-comparison">
                Soit 6 fois la France
            </p>
        </div>
    </div>
    <div class="single-country-data-second-row">
        <div class="single-country-data-second-row-continent">
            <h2 class="single-country-data-second-row-continent-title">
                Continent : <strong>Asie</strong>
            </h2>
        </div>
        <div class="single-country-data-second-row-capital">
            <h2 class="single-country-data-second-row-capital-title">
                Capitale : <strong>New Delhi</strong>
            </h2>
        </div>
    </div>

    <div class="single-country-sounds">
        <div class="single-country-sounds-anthem">
            <h2 class="single-country-sounds-anthem-title">
                Hymne
            </h2>
            <p class="single-country-sounds-anthem-description">Jana Gana Mana</p>
            <p class="single-country-sounds-anthem-description">जन गण मन</p>
        </div>

        <div class="single-country-sounds-translations">
            <h2 class="single-country-sounds-translations-title">
                Mots courants
            </h2>
        
            <p class="single-country-sounds-translations-cta">Clique pour écouter leur prononciation !</p>
            <ul class="single-country-sounds-translations-hello single-country-sounds-translations-element">
                <li>Bonjour</li>
                <li class="other-language">Hindi</li>
                <li class="other-language">Bengali</li>
                <li class="other-language">Tamoul</li>
            </ul>
    
            <ul class="single-country-sounds-translations-thanks single-country-sounds-translations-element">
                <li>Merci</li>
                <li class="other-language">Hindi</li>
                <li class="other-language">Bengali</li>
                <li class="other-language">Tamoul</li>
            </ul>
    
            <ul class="single-country-sounds-translations-bye single-country-sounds-translations-element">
                <li>Au revoir</li>
                <li class="other-language">Hindi</li>
                <li class="other-language">Bengali</li>
                <li class="other-language">Tamoul</li>
            </ul>
    
            <ul class="single-country-sounds-translations-name single-country-sounds-translations-element">
                <li>Je m'appelle</li>
                <li class="other-language">Hindi</li>
                <li class="other-language">Bengali</li>
                <li class="other-language">Tamoul</li>
            </ul>
        </div>

    </div>

    <div class="single-country-society">
        <div class="single-country-society-content">
            <h2 class="single-country-society-content-title">
                Société
            </h2>
            <p class="single-country-society-content-description">
                La hiérarchie traditionnelle indienne repose sur le degré de “pureté”. Les trois premiers constituent les castes supérieures : brahmanes (prêtres, lettrés...), kshatriya (guerriers, militaires...), vaishya ou "hommes du commun"(marchands, cultivateurs, artisans) ; la quatrième caste est constituée des shudra. Les intouchables (appelés dalits) n’appartiennent pas à une caste, et accomplissent fonctions ou métiers jugés impurs. <br><br>L'appartenance à une caste est donnée par la naissance.
            </p>
            <div class="single-country-society-content-links">
                <div class="single-country-society-content-links-transports">Et les transports ?</div>
                <div class="single-country-society-content-links-life">Et la vie sur place ?</div>
            </div>
        </div>
        <div class="single-country-society-img">

        </div>
    </div>

    <div class="single-country-history">
        <div class="single-country-history-content">
            <h2 class="single-country-history-content-title">
                Histoire
            </h2>
            <p class="single-country-history-content-description">
                    L’histoire de l’Inde est très riche et imprègne toujours le quotidien des Indiens. <br><br>
                    L’âge Védique au II millénaire avant J.C,  a scellé les bases de l'hindouisme. Dans les environs de l’an 500, l’empire Mogols a apporté l’Islam dans le dans la région Nord de l’Inde. <br><br>
                    Au XVIIIe siècle, les européens commencent à créer des comptoires en Inde. Ce sont des petites colonies permettant de favoriser le commerce. La France a possédé la ville de Pondichéry jusqu’en 1956. <br><br>
                    Entre 1750 et 1947 l’Inde a été une colonie britannique. Le processus d’indépendance a mené à des conflits religieux entre les Indous et Sikh d’une part, et les musulmans de l’autre. Trois pays sont nés : l’Inde,  le Pakistan et le Bangladesh. Le film Le Dernier Vice-Roi des Indes de Gurinder Chadha raconte les difficultés de la décolonisation. Depuis, les tensions restent fortes entre l’Inde et le Pakistan.
            </p>
        </div>
        <div class="single-country-history-img">

        </div>
    </div>

    <div class="single-country-famous">
        <div class="single-country-famous-content">
            <h2 class="single-country-famous-content-title">
                Personnalités importantes
            </h2>
            <p class="single-country-famous-content-description">
                La personnalité la plus connue de l’Inde est Gandhi. Il est aussi désigné comme le “mahatma”, mot sanskrit qui veut dire “grande âme”. 
            </p>
            <video src="../media/inde_famous.mp4" autoplay muted></video>
        </div>
    </div>
</div>