<div class="single-country">

    <!-- <h1 class="single-country-title">
        Inde
    </h1>

    <div class="single-country-backtomap">
        Carte
    </div>

    <p class="single-country-continent">
        Continent : <strong>Asie</strong>
    </p>

    <p class="single-country-capital">
        Capitale : <strong>New Delhi</strong>
    </p>

    <ul class="single-country-data">
        <li class="single-country-data-population">
            <strong>
                Population : 
            </strong>
            1,324 milliards
        </li>
        <li class="single-country-data-density">
            <strong>
                Densité : 
            </strong>
            394,02 habitants / km<sup>2</sup>
        </li>
        <li class="single-country-data-political">
            <strong>
                Régime : 
            </strong>
            République fédérale
        </li>
        <li class="single-country-data-languages">
            <strong>
                Langues parlées : 
            </strong>
            Hindi, Bengali, Tamoul
        </li>
    </ul>

    <div class="single-country-anthem">
        <h2 class="single-country-anthem-title">
            Hymne
        </h2>
    </div>

    <div class="single-country-discover">
        <h2 class="single-country-discover-title">
            Découvre ces 3 lieux !
        </h2>

        <div class="single-country-discover-element">
            <div class="single-country-discover-element-content">
                    <p class="single-country-discover-element-content-title">
                        Mumbai
                    </p>
                    <div class="single-country-discover-element-content-discover">
                        <span>
                            +
                        </span>
                        <span>Découvrir</span>
                    </div>
                    <div class="single-country-discover-element-content-streetview">
                        Streetview
                    </div>
            </div>
        </div>
        <div class="single-country-discover-element">
            <div class="single-country-discover-element-content">
                <p class="single-country-discover-element-content-title">
                    New Delhi
                </p>
                <div class="single-country-discover-element-content-discover">
                    <span>
                        +
                    </span>
                    <span>Découvrir</span>
                </div>
                <div class="single-country-discover-element-content-streetview">
                    Streetview
                </div>
            </div>
        </div>
        <div class="single-country-discover-element">
            <div class="single-country-discover-element-content">
                <p class="single-country-discover-element-content-title">
                    Bangalore
                </p>
                <div class="single-country-discover-element-content-discover">
                    <span>
                        +
                    </span>
                    <span>Découvrir</span>
                </div>
                <div class="single-country-discover-element-content-streetview">
                    Streetview
                </div>
            </div>
        </div>
    </div> -->

    <div class="single-country-title">
        <h1>
            Inde
            <br>
            <strong>भारत</strong>
        </h1>
    </div>

    <div class="single-country-img">
        <img src="../img/inde.png" alt="">
    </div>

    <div class="single-country-data-title">
        <h2>            
            Inde
            <br>
        <strong>भारत</strong></h2>
    </div>

    <div class="single-country-data-first-row">
        <div class="single-country-data-first-row-flag">
            <h2 class="single-country-data-first-row-flag-title">
                Drapeau
            </h2>
            <img src="" alt="">
        </div>
        <div class="single-country-data-first-row-population">
            <h2 class="single-country-data-first-row-population-title">
                Nombre d'habitants
            </h2>
            <p class="single-country-data-first-row-population-data">
                1,324 milliard
            </p>
            <p class="single-country-data-first-row-population-comparison">
                Environ 19 fois la population de la France
            </p>
        </div>
        <div class="single-country-data-first-row-area">
            <h2 class="single-country-data-first-row-area-title">
                Superficie
            </h2>
            <p class="single-country-data-first-row-area-data">
                3,287 millions de km2
            </p>
            <p class="single-country-data-first-row-area-comparison">
                Soit 6 fois la France
            </p>
        </div>
    </div>
    <div class="single-country-data-second-row">
        <div class="single-country-data-second-row-continent">
            <h2 class="single-country-data-second-row-continent-title">
                Continent : <strong>Asie</strong>
            </h2>
        </div>
        <div class="single-country-data-second-row-capital">
            <h2 class="single-country-data-second-row-capital-title">
                Capitale : <strong>New Delhi</strong>
            </h2>
        </div>
    </div>
</div>