<div class="single-country">

    <h1 class="single-country-title">
        Inde
    </h1>

    <div class="single-country-backtomap">
        Carte
    </div>

    <p class="single-country-continent">
        Continent : <strong>Asie</strong>
    </p>

    <p class="single-country-capital">
        Capitale : <strong>New Delhi</strong>
    </p>

    <ul class="single-country-data">
        <li class="single-country-data-population">
            <strong>
                Population : 
            </strong>
            1,324 milliards
        </li>
        <li class="single-country-data-density">
            <strong>
                Densité : 
            </strong>
            394,02 habitants / km<sup>2</sup>
        </li>
        <li class="single-country-data-political">
            <strong>
                Régime : 
            </strong>
            République fédérale
        </li>
        <li class="single-country-data-languages">
            <strong>
                Langues parlées : 
            </strong>
            Hindi, Bengali, Tamoul
        </li>
    </ul>

    <div class="single-country-anthem">
        <h2 class="single-country-anthem-title">
            Hymne
        </h2>
    </div>

    <div class="single-country-discover">
        <h2 class="single-country-discover-title">
            Découvre ces 3 lieux !
        </h2>

        <div class="single-country-discover-element">
            <p class="single-country-discover-element-title">
                Mumbai
            </p>
            <div class="single-country-discover-element-links">
                <div class="single-country-discover-element-links-discover">
                    Découvrir
                </div>
                <div class="single-country-discover-element-links-streetview">
                    Streetview
                </div>
            </div>
        </div>
        <div class="single-country-discover-element">
            <p class="single-country-discover-element-title">
                New Delhi
            </p>
            <div class="single-country-discover-element-links">
                <div class="single-country-discover-element-links-discover">
                    Découvrir
                </div>
                <div class="single-country-discover-element-links-streetview">
                    Streetview
                </div>
            </div>
        </div>
        <div class="single-country-discover-element">
            <p class="single-country-discover-element-title">
                Bangalore
            </p>
            <div class="single-country-discover-element-links">
                <div class="single-country-discover-element-links-discover">
                    Découvrir
                </div>
                <div class="single-country-discover-element-links-streetview">
                    Streetview
                </div>
            </div>
        </div>
    </div>
</div>