<div class="single-place">

    <h1 class="single-place-title">
        Mumbai
    </h1>

    <div class="single-place-backtocountry">
        Inde
    </div>

    <p class="single-place-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur debitis fugit magni itaque ullam maxime officia modi, ipsum praesentium, quo possimus mollitia nostrum, nulla aperiam accusamus assumenda animi dignissimos ipsam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iste ab ad maxime architecto voluptatem quibusdam! Laboriosam sed magnam eos tempore recusandae neque fugiat! Dolor sunt porro adipisci quae sapiente.
    </p>

    <div class="single-place-translation">

        <h2 class="single-place-translation-title">
            Mots courants
        </h2>

        <p class="single-place-translation-cta">Clique pour écouter leur prononciation !</p>

        <ul class="single-place-translation-hello single-place-translation-element">
            <li>Bonjour</li>
            <li class="other-language">Hindi</li>
            <li class="other-language">Bengali</li>
            <li class="other-language">Tamoul</li>
        </ul>

        <ul class="single-place-translation-thanks single-place-translation-element">
            <li>Merci</li>
            <li class="other-language">Hindi</li>
            <li class="other-language">Bengali</li>
            <li class="other-language">Tamoul</li>
        </ul>

        <ul class="single-place-translation-bye single-place-translation-element">
            <li>Au revoir</li>
            <li class="other-language">Hindi</li>
            <li class="other-language">Bengali</li>
            <li class="other-language">Tamoul</li>
        </ul>

        <ul class="single-place-translation-name single-place-translation-element">
            <li>Je m'appelle</li>
            <li class="other-language">Hindi</li>
            <li class="other-language">Bengali</li>
            <li class="other-language">Tamoul</li>
        </ul>

    </div>

    <div class="single-place-footer">
        <div class="single-place-footer-backtomap">
            Carte
        </div>

        <div class="single-place-footer-streetview">
            Streetview
        </div>
    </div>

</div>